<div id="map"></div>

<div id="search"></div>
<div class="grid">
  <div class="money-trail">
    <h2>The Money Trail</h2>
    <div class="timeline">

      <a id='sup' data-tooltip='hello'><div class="bubble">test</div></a>

    </div>
  </div>

  <div class="company-stats">
    <h2><%= @company_name %></h2>
    <h1 id="total-funding"><%= @latest_funding %></h1>
    <img src="<%= @company_photo %>">
    <p><%= @company_description %></p>
  </div>
</div>

<script>
var map, geocoder, markersymbol;

$("form").on("submit", function(e){
  e.preventDefault();
})


$(document).ready( function(){

  //With some options
  $('#sup').darkTooltip({
    animation:'flipIn',
    gravity:'south',
    theme:'light'
  });
});

var map, geocoder, data, searcher;

searcher = new google.maps.Geocoder();

require([
  "esri/map", "dojo/domReady!", "esri/dijit/Geocoder"
  ], function(Map, Geocoder) {
    map = new Map("map",{
      basemap: "gray",
      center: [-98.35, 39.50],
      zoom: 4
    });
    geocoder = new Geocoder({
      map: map,
      autoNavigate: false
    }, "search");

    geocoder.startup();

     geocoder.on('find-results', function(e){
      require(["esri/graphic", "esri/symbols/SimpleMarkerSymbol"], function(Graphic, SimpleMarkerSymbol){
        var markerSymbol = new SimpleMarkerSymbol({
          "color": [28,128,242,100]
        });
        map.graphics.add(new Graphic(e.results.results[0].feature.geometry, markerSymbol));
      });
      $.getJSON("search?query="+geocoder.value, function(json){data = json}).done(function(){
        _.each(data.locations, function(element){
          searcher.geocode( { 'address': element}, function(stuff, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              require([
                "esri/geometry/Point",
                "esri/graphic",
                "esri/symbols/SimpleMarkerSymbol"
                ], function(Point, Graphic, SimpleMarkerSymbol) {
                 var point = new Point(stuff[0].geometry.location.A, stuff[0].geometry.location.k);
                 var markerSymbol = new SimpleMarkerSymbol({
                  "color": [212,42,65,100]
                });
                 map.graphics.add(new Graphic(point, markerSymbol));
               });
            }
          });
        });
      });
    });
});

</script>
