<h1>Find Startups And Their Inventors</h1>

<form action="/search" method="get">
  <input name="query" autocomplete="off" autofocus="autofocus" placeholder="Type In a Startup Here" type="search">
</form>

<div>
  <h2>Most Recent Companies</h2>
  <ul class="startups">
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">>  </p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">>  </p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">>  </p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">>  </p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">>
    </li>
  </ul>
</div>
