<h1 id="header">Find Startups And Their Investors.</h1>

<div class="white-background">
  <form action="/search" method="get">
    <input name="query" autocomplete="off" autofocus="autofocus" placeholder="Search For A Company" type="search">
  </form>

  <div class="main-list">
    <h2>Most Recent Companies</h2>
    <ul class="startups main-page">
      <% @top_companies.each do |company| %>
      <a href="search?query=<%= company['company_name'] %>">
        <li class="main-page"><img src="<%= company['logo_url'] %>" class="main-page">
          <p class="company-name"><%= company['company_name'] %></p>
          <p class="raised-capital"><%= company['raised_string'] %></p>
          <p class="right-carrot">>  </p>
        </li>
      </a>
      <% end %>
    </ul>
  </div>
</div>
