<h1 id="header">Find Startups And Their Investors.</h1>

<div class="white-background">
  <form action="/search" method="get">
    <input name="query" autocomplete="off" autofocus="autofocus" placeholder="Search For A Company" type="search">
  </form>

  <div class="main-list">
    <h2>Most Recent Companies</h2>
    <ul class="startups">
      <%= @top_companies.each do |company| %>
      <a href="search?query=<%= company %>">
        <li><img src="http://placekitten.com/g/120/120">
          <p><%= company %></p>
          <p class="right-carrot">>  </p>
        </li>
      </a>
      <% end %>
    </ul>
  </div>
</div>
