<h1>Find Startups And Their Inventors</h1>

<form>
  <input id="submit" autocomplete="off" autofocus="autofocus" placeholder="Type In a Startup Here" type="search">
</form>

<div>
  <h2>Most Recent Companies</h2>
  <ul class="startups">
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">></p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">></p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">></p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">></p>
    </li>
    <li><img src="http://placekitten.com/g/120/120">
      <p>Yo. How is it going.</p>
      <p class="right-carrot">></p>
    </li>
  </ul>
</div>

<script type="text/javascript">

  $("form#submit").on("submit", function(e) {
    e.preventDefault;
    var data = {
      query: $("input").val()
    };
    console.log(data);
    $.ajax({
      url:"/search",
      data: data
    }).success(function(response){
        window.location.replace("/search/")
      });
  });

</script>
