/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  font-family: 'Lato', sans-serif;
  background-image: url("background_blue.jpg");
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed;
}



#header {
  font-size: 80px;
  font-weight: 300;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}

input[type=search] {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  display: block;
  margin: 0;
  width: 90%;
  height: 1.2em;
  border: 0 solid #98989f;
  border-bottom: 2px solid #000;
  background: transparent;
  font-size: 3em;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
  text-align: center;
  margin: 50px auto;
}

ul {
  display: inline-block;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul.startups a {
  text-decoration: none;
  color: black;
}

li {
  height: 75px;
  width: 100%;
  border-bottom: 1px solid black;
  margin: 0;
  padding: 0;
  padding-top: 45px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

li:hover {
  background: rgb(102, 175, 209);
  opacity: 0.5;
  color: white;
}

li img {
  display: inline;
  float: left;
  margin-top: -45px;
}

li img::after {
  clear: both;
}

div.main-list {
  display: inline-block;
  width: 70%;
  text-align: center;
  margin-left: 15%;
  background: white;
}

.right-carrot {
  opacity: .2;
  font-size: 30px;
  text-align: right;
  margin-top: -60px;
}

.white-background {
  background: white;
  padding-top: 40px;
}

.raised-capital {
  display: inline;
  float: right;
  color: rgb(31, 167, 167);
}

p.company-name {
  display: inline;
}
