<!DOCTYPE html>
<html>
<head>
  <title>ArgosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://js.arcgis.com/3.9/js/esri/css/esri.css">
  <script src="http://js.arcgis.com/3.9/"></script>
   <style>
    html, body, #mapDiv {
      padding: 0;
      margin: 0;
      height: 100%;
    }
  </style>
</head>
<body class="claro">
  <div id="mapDiv"></div>
  
  <script>
    var map;

    require(["esri/map", "esri/config", "dojo/domReady!", "esri/geometry/Point",
      "esri/tasks/locator", "esri/graphic",
      "esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleMarkerSymbol",
        "esri/symbols/Font", "esri/symbols/TextSymbol",
        "esri/geometry/Point", "esri/geometry/Extent",
        "esri/geometry/webMercatorUtils",
        "dojo/_base/array", "esri/Color",
        "dojo/number", "dojo/parser", "dojo/dom", "dojo/json", "dijit/registry",
        "dijit/form/Button", "dijit/form/Textarea",
        "dijit/layout/BorderContainer", "dijit/layout/ContentPane"
      ],
    function(Map, Locator, SpatialReference, Graphic, SimpleLineSymbol, SimpleMarkerSymbol, Font, TextSymbol, Point, Extent, webMercatorUtils, arrayUtils, esriConfig){
      esriConfig.defaults.map.panDuration = 1;
      esriConfig.defaults.map.panRate = 1;
      esriConfig.defaults.map.zoomDuration = 100;
      esriConfig.defaults.map.zoomRate = 1;
  
        map = new Map("mapDiv", {
          center: [-98.35, 39.50],
          zoom: 4,
          basemap: "gray"
        });
     });
  </script>

<%= yield %>

</body>
</html>
