<!DOCTYPE html>
<html>
<head>
  <title>ArgosApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://js.arcgis.com/3.9/js/esri/css/esri.css">
  <link rel="stylesheet" href="http://js.arcgis.com/3.9/js/dojo/dijit/themes/claro/claro.css">
  <script src="http://js.arcgis.com/3.9/"></script>
   <style>
      html, body {
        height: 100%; 
        width: 100%;
        margin: 0; 
        padding: 0;
      }
      #map {
        height: 80%;
      }
      #search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 20px;
        left: 74px;
      }
    </style>
    <script src="http://js.arcgis.com/3.9/"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
